@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
  font-family: 'Poppins', sans-serif;
}

p{
    font-size: 24px;
  }

  a{
    font-size:24px;
  }

  ul li{
    font-size: 20px;
  }